html {
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    font-size: 16px;
}

body {
    background-image: url("../images/wisteria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0 0.625rem;
    margin: 0 0.625rem;
}

header {
    border: 2px solid white;
    padding: 0 0.625rem;
}

main {
    background-color: rgba(218,204,246,0.4);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100vh; /* 100% of the viewport height */
    padding: 0.625rem;
    margin: 0.625rem;
}

section {
    border: 2px solid white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0.625rem;
    margin: 0.625rem;
}

div {
    border: 2px solid blue;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    padding: 0.625rem;
    margin: 0.625rem;
}